<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Omegle: Talk to strangers!</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <img class="logo" src="/Img/Logo.png" alt="logo" />
          <h2 class="nav-moto">Talk to Strangers!</h2>
          <div class="online-status">
            <b class="active-numbers">5000+</b>
            <span class="online-tag">online now</span>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="main-container">
        <p>
          You don't need an app to use Omegle on your phone or tablet! The web
          site works great on mobile.
        </p>
        <p>
          Omegle (oh·meg·ull) is a great way to meet new friends, even while
          practicing social distancing. When you use Omegle, you are paired
          randomly with another person to talk one-on-one. If you prefer, you
          can add your interests and you’ll be randomly paired with someone who
          selected some of the same interests.
        </p>

        <p>
          To help you stay safe, chats are anonymous unless you tell someone who
          you are (not recommended!), and you can stop a chat at any time. See
          our Terms of Service and Community Guidelines for more info about the
          do’s and don’ts in using Omegle. Omegle video chat is moderated but no
          moderation is perfect. Users are solely responsible for their behavior
          while using Omegle.
        </p>
        <p>
          YOU MUST BE 18 OR OLDER TO USE OMEGLE. See Omegle’s Terms of Service
          for more info. Parental control protections that may assist parents
          are commercially available and you can find more info at
          https://www.connectsafely.org/controls/ as well as other sites.
        </p>
        <div class="monitered-container">
          <h2 class="monitered-text">Video is monitered. Keep it clean</h2>
        </div>
        <div class="action-container">
          <p class="start-chat">Start Chatting</p>
          <div class="button-container">
            <button class="action-button">
              <a href="/text_chat">Text</a>
            </button>
            <button class="action-button">
              <a href="/video_chat">Video</a>
            </button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
