<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Omegle: Talk to strangers!</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/video.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <img class="logo" src="/Img/Logo.png" alt="logo" />
          <h2 class="nav-moto">Talk to Strangers!</h2>
          <div class="online-status">
            <b class="active-numbers">5000+</b>
            <span class="online-tag">online now</span>
          </div>
        </div>
      </nav>
    </header>
    <main class="video_chat_container">
      <div
        class="video_container"
        style="justify-content: center; align-items: center"
      >
        <div class="chat-container">
          <div class="chat-text-container">
            <p>You are now chatting with random stranger</p>
            <p>You both speak the same language - English</p>
            <hr class="horizontal-divider" />
            <p class="chat-text-area"></p>
          </div>
          <div class="next-chat-container">
            <div class="next-chat">
              <div>Next</div>
            </div>
            <div class="type-message">
              <textarea name="" id="msg-input" cols="30" rows="1"></textarea>
            </div>
            <div class="msg-send-button">Send</div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
